@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',
    sans-serif;
}
/* common styles */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* header styles */
header{
    padding: 60px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-title{
    color: #3A3A3A;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700; 
}
ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 15px 0;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    font-weight: 600;
}
/* Influence section styles */
.Influence{
    display: flex;
    align-items: center;
}
.Influence-title{
    margin-top: 100px;
}
.title {
    position: relative;
}
.title::before,
.title::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.title::before {
    background-color: #E02C6D;
    animation: typewriter 5s ease forwards;
}
@keyframes typewriter {
    to {
        left: 100%;
    }
}
.Influence-title h1{
    color: #3A3A3A;
    font-size: 52px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 16px;
}
.Influence-title p{
    color: #3A3A3A;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    font-weight: 600;
    margin-bottom: 30px;
    padding-right: 133px;
}
.Influence-photo img{
    width: 440px;
    height: 414px;
    border: 1px solid rgba(105, 96, 96, 0.2);
    border-radius: 40%;
}
button{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}
button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.Preebook-btn {
    margin-left: 10px;
}
.logo{
     margin-top: 70px;
     margin-bottom: 60px;
}
hr{
    border-bottom: 1px solid gray;
}
.logo-items{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    height: 110px;
}
/* Collection section styles */
.product-Collection{
    margin: 100px 0;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product-1{
    box-shadow: 10px 10px 40px grey;
    padding: 14px;
    border-radius: 10px;
}
.product-2 {
    box-shadow: 10px 10px 40px grey;
    padding: 14px;
    border-radius: 10px;
}
.product-3 {
    box-shadow: 10px 10px 40px grey;
    padding: 14px;
    border-radius: 10px;
}
    
.product-title{
    text-align: center;
    margin-bottom: 20px;
}
.title{
    color: #3A3A3A;
    font-size: 28px;
    line-height: 70px;
    font-weight: 600;
}
.product-thumbnail img{
    width: 350px;
    height: 256px;
    border-radius: 5px;
}
.product-details h3{
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 16px;
}
.product-details p{
    color: #000000;
    font-size: 24px;
    line-height: 150%;
    margin-top: 6px;
}
.product-info{
    display: flex;
    margin-bottom: 10px;
}
.filled {
    color: goldenrod;
    font-size: 0.8em;
}
.unfilled {
    color: lightgray;
    font-size: 0.8em;
}
.product-rating{
    margin-left: 10px;
}
.info{
    color: #787885;
    font-size: 14px;
    line-height: 143%;
    font-weight: bold;
}
.button {
    display: flex;
    padding-top: 50px;
    justify-content: flex-end;
}
.see-btn{
    color: rgba(224, 44, 109, 0.87);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
.more-btn{
    margin-left: 8px;
}
/* Instagram-influencers style */
.Instagram-influencer{
    margin-top: 40px;
}
.Instagram-title{
    text-align: center;
    margin-bottom: 20px;
}
.Instagram{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    box-shadow: 10px 10px 30px lightgray;
    padding: 20px;
    border-radius: 5px;
}
.profile-photo img{
    width: 100%;
    height: auto;
}
.fas{
    margin-right: 5px;
}
/* footer styles */
footer{
    background-color: #0A0826;
    padding: 50px 30px 30px 30px;
    color: #ffffff;
    text-align: center;
    margin-top: 80px;
}
.footer-area h3{
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}
.footer-area p{
    color: #D9DBE1;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}
.fab {
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
/* responsive style */
@media (max-width:992px) {
   nav {
       flex-direction: row;
   }
   ul li{
       margin-right: 10px;
   }
   .Influence {
       flex-direction: column;
       align-items: center;
       padding: 30px;
   }
   .Influence p {
       padding-right: 0;
   }
   button {
       margin-bottom: 50px;
   }
   .logo-items {
       grid-template-columns: repeat(4, 1fr);
       padding: 20px;
   }
   .product-list {
       grid-template-columns: repeat(2, 1fr)
   }
   .product-thumbnail img {
       width: 100%;
   }

   .Instagram {
       grid-template-columns: repeat(1, 1fr);
   }
}
@media (max-width: 668px) {
    nav {
        flex-direction: column;
    }
    ul li {
        margin-right: 10px;
        padding-left: 10px;
    }
    .Influence {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    .Influence p{
        padding-right: 0;
    }
    button{
        margin-bottom: 50px;
    }
    .logo-items {
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
    
    }
    .logo-items img{
        margin-top: 10px;
    }
    hr{
        display: none;
    }
    .product-list {
        grid-template-columns:repeat(1, 1fr)
    }
    .product-thumbnail img{
        width: 100%;
    }
    .Instagram {
        grid-template-columns: repeat(1, 1fr);
    }
}